# Работа с табличными файлами

Рассмотрим пример, в котором нужно проанализировать данные, хранящиеся в таблице.

## Пример
В файле temperature.csv дана информация о дневной и ночной температурах за последние несколько дней (суток). Данные представлены двумя столбцами целых чисел: первый столбец — дневная температура, второй столбец — ночная температура. Требуется найти среднюю дневную и среднюю ночную температуры за весь данный период.

Это простая задача, которую можно было бы решить в Excel или Google-таблицах. Но если вы научитесь делать это в Python, то в будущем сможете решать более сложные задачи, которые в Excel или Google-таблицах не решить.

## 1. Чтение из csv-файла и обработка данных

 Данные уже сохранены в формате .csv («значения, разделенные запятой»). Но не забываем, что разделителем может выступать и другой знак. Давайте посмотрим, как данные организованы в файле temperature.csv. Мы можем открыть этот файл в текстовом редакторе и посмотреть, как он выглядит. Или можем считать данные с помощью Python просто в виде текста (строки), сохранить в переменную и посмотреть на полученное значение переменной.

In [1]:
csv_data = ''
with open('temperature.csv') as infile:
    for line in infile:
        csv_data += line
csv_data

'25 ;13\n23; 13\n23;15\n28;15\n23;19\n30;13\n25;10\n26;13\n28;12\n25;19'

Но в виде сплошного текста (строки) будет неудобно обрабатывать данные. Лучше сразу обработать каждую строку входного файла. Запишем строки в список.

In [2]:
t_list = []
with open('temperature.csv') as infile:
    for line in infile:
        t_list.append(line)
t_list

['25 ;13\n',
 '23; 13\n',
 '23;15\n',
 '28;15\n',
 '23;19\n',
 '30;13\n',
 '25;10\n',
 '26;13\n',
 '28;12\n',
 '25;19']

Получили списки строк. Продолжим улучшать код: на этапе считывания преобразуем каждую строку в маленький список, где первый элемент — дневная температура, а второй — ночная. Тут важно знать, какой именно разделитель выбран: запятая, точка с запятой или что-то еще. Из вывода предыдущей ячейки видим, что значения разделены точкой с запятой.

In [3]:
t_list = []
with open('temperature.csv') as infile:
    for line in infile:
        t_list.append(line.split(';'))
t_list

[['25 ', '13\n'],
 ['23', ' 13\n'],
 ['23', '15\n'],
 ['28', '15\n'],
 ['23', '19\n'],
 ['30', '13\n'],
 ['25', '10\n'],
 ['26', '13\n'],
 ['28', '12\n'],
 ['25', '19']]

Получили список, состоящий из списков строк. Попробуем преобразовать каждую строку в число. Для этого будем обращаться к элементам списка, полученного из каждой строки, где на нулевом месте лежит дневная температура, а на первом — ночная.

In [4]:
t_list = []
with open('temperature.csv') as infile:
    for line in infile:
        day_list = line.split(';')
        t_list.append([int(day_list[0]), int(day_list[1])])
t_list

[[25, 13],
 [23, 13],
 [23, 15],
 [28, 15],
 [23, 19],
 [30, 13],
 [25, 10],
 [26, 13],
 [28, 12],
 [25, 19]]

Несмотря на то, что в строках были пробельные символы (пробелы и `\n`), все они были успешно преобразованы в целые числа. Команды, записанные в предыдущей ячейке в строках 5 и 6, можно было бы заменить одной строкой, используя функцию `map()`.

## 2. Анализ числовых данных из csv-файла. Округление результатов.

### Анализ числовых данных

Теперь у нас есть данные в виде списка (точнее, списка списков), мы можем с ними работать, как угодно. В данном случае требуется посчитать среднюю температуру. Чтобы посчитать среднюю дневную температуру, нужно сложить все дневные температуры и разделить на количество дней. Аналогично для ночной температуры. Будем считать их одновременно, обращаясь к нужным элементам списка.

Чтобы узнать количество дней, достаточно узнать длину списка с помощью функции `len()`:

In [5]:
count = len(t_list)
print(count)

10

In [7]:
sum_day = 0
sum_night = 0
for d in t_list:
    sum_day += d[0]
    sum_night += d[1]
    
mean_day = sum_day / count
mean_night = sum_night / count
print(f'Средняя дневная температура {mean_day}')
print(f'Средняя ночная температура {mean_night}')

Средняя дневная температура 25.6
Средняя ночная температура 14.2

### Округление результатов

Мы получили дробное значение средней температуры. Допустим, мы хотим его **округлить**, то есть вместо дробного числа получить целое число. Есть несколько способов. Первый — с помощью функции `int()`:

In [8]:
print(f'{mean_day} - {int(mean_day)}')
print(f'{mean_night} - {int(mean_night)}')

25.6 - 25
14.2 - 14

Функция `int()` получает из дробного числа целое число, просто отбрасывая все цифры после запятой (точки). Это так называемое **округление вниз**: округление к меньшему числу. 

Чтобы **округлить вверх**, то есть округлить к большему числу, можно воспользоваться функцией `ceil()`. Слово "ceil" означает "перекрывать". Функция `ceil()` содержится в модуле `math` — импортируем ее.

In [9]:
from math import ceil    # Из модуля math импортируем функцию ceil() 

print(f'{mean_day} - {ceil(mean_day)}')
print(f'{mean_night} - {ceil(mean_night)}')

25.6 - 26
14.2 - 15

Чтобы округлить **по математическим правилам** (если дробная часть меньшие половины, округлять вниз, а если дробная часть больше половины, округлять вверх), можно воспользоваться функцией `round()`.

In [12]:
print(f'{mean_day} - {round(mean_day, 10):.10f}')
print(f'{mean_night} - {round(mean_night)}')

25.6 - 25.6000000000
14.2 - 14

Но при округлении чисел, у которых дробная часть равна половине, нас ждет сюрприз. Сравните:

In [13]:
a = 25.5
b = 14.5
print(f'{a} - {round(a)}')
print(f'{b} - {round(b)}')

25.5 - 26
14.5 - 14

Если дробная часть равна половине (.5), функция `round()` в Python округляет к ближайшему **четному** числу. 

Эту особенность надо учитывать при разработке программ.